.navbar{
    background-color: #4c4f3d;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #000;
    font: segoe ui;
    font-size: 20px;
}

.ContainerSlider{

    height: 10px;
    width: 10px;;


}

  